http_interactions:
- request:
    method: GET
    uri: https://restapi.amap.com/v3/config/district?keywords=%E5%9B%9B%E5%B7%9D%E7%9C%81&subdistrict=1&key=FAKE_KEY
  response:
    status: 200
    headers:
      Content-Type: application/json;charset=UTF-8
      gsid: 033004168190176878617300000062850643407
      sc: '0.013'
    body:
      string: '{"status":"1","info":"OK","infocode":"10000","count":"1","suggestion":{"keywords":[],"cities":[]},"districts":[{"citycode":[],"adcode":"510000","name":"四川省","center":"104.076452,30.651696","level":"province","districts":[{"citycode":"0839","adcode":"510800","name":"广元市","center":"105.844004,32.435774","level":"city","districts":[]},{"citycode":"0817","adcode":"511300","name":"南充市","center":"106.110565,30.837235","level":"city","districts":[]},{"citycode":"0827","adcode":"511900","name":"巴中市","center":"106.747548,31.867853","level":"city","districts":[]},{"citycode":"0838","adcode":"510600","name":"德阳市","center":"104.397795,31.127449","level":"city","districts":[]},{"citycode":"0816","adco[...]
