http_interactions:
- request:
    method: GET
    uri: https://restapi.amap.com/v3/assistant/coordinate/convert?locations=116.481499%2C39.990475&coordsys=gps&key=FAKE_KEY&output=JSON
  response:
    status: 200
    headers:
      Content-Type: application/json;charset=UTF-8
      gsid: 033060253071176878617309900045140730135
      sc: '0.004'
    body:
      string: '{"status":"1","info":"ok","infocode":"10000","locations":"116.487585177952,39.991754014757"}'
  recorded_at: 2026-01-19 01:29:32
recorded_with: VCR-vcr/2.1.0
