http_interactions:
- request:
    method: GET
    uri: https://restapi.amap.com/v3/geocode/geo?address=%E5%A4%A9%E5%AE%89%E9%97%A8%7C%E6%95%85%E5%AE%AB&batch=true&key=FAKE_KEY
  response:
    status: 200
    headers:
      Content-Type: application/json;charset=UTF-8
      gsid: 033005018055176878617489700062720925377
      sc: '0.004'
    body:
      string: '{"status":"1","info":"OK","infocode":"10000","count":"2","geocodes":[{"formatted_address":"北京市东城区天安门","country":"中国","province":"北京市","citycode":"010","city":"北京市","district":"东城区","township":[],"neighborhood":{"name":[],"type":[]},"building":{"name":[],"type":[]},"adcode":"110101","street":[],"number":[],"location":"116.397463,39.909187","level":"兴趣点"},{"formatted_address":"故宫","country":"中国","province":"北京市","citycode":"010","city":"北京市","district":"东城区","township":[],"neighborhood":{"name":[],"type":[]},"building":{"name":[],"type":[]},"adcode":"110101","street":[],"number":[],"location":"116.397029,39.917839","level":"门牌号"}]}'
  recorded_at: 2026-01-19 01:29:34
recorded_with: VCR-vcr/2.1.0
