http_interactions:
- request:
    method: GET
    uri: https://restapi.amap.com/v3/geocode/geo?address=%E6%9C%9D%E9%98%B3%E5%8C%BA&key=FAKE_KEY
  response:
    status: 200
    headers:
      Content-Type: application/json;charset=UTF-8
      gsid: 033051066207176878756409500036180750023
      sc: '0.005'
    body:
      string: '{"status":"1","info":"OK","infocode":"10000","count":"2","geocodes":[{"formatted_address":"吉林省长春市朝阳区","country":"中国","province":"吉林省","citycode":"0431","city":"长春市","district":"朝阳区","township":[],"neighborhood":{"name":[],"type":[]},"building":{"name":[],"type":[]},"adcode":"220104","street":[],"number":[],"location":"125.288168,43.833845","level":"区县"},{"formatted_address":"北京市朝阳区","country":"中国","province":"北京市","citycode":"010","city":"北京市","district":"朝阳区","township":[],"neighborhood":{"name":[],"type":[]},"building":{"name":[],"type":[]},"adcode":"110105","street":[],"number":[],"location":"116.443136,39.921444","level":"区县"}]}'
  recorded_at: 2026-01-19 01:52:43
recorded_with: VCR-vcr/2.1.0
