http_interactions:
- request:
    method: GET
    uri: https://restapi.amap.com/v3/geocode/geo?address=Chengdu+IFS&key=FAKE_KEY
  response:
    status: 200
    headers:
      Content-Type: application/json;charset=UTF-8
      gsid: 033061084011176878617400000037680057447
      sc: '0.005'
    body:
      string: '{"status":"1","info":"OK","infocode":"10000","count":"1","geocodes":[{"formatted_address":"四川省成都市锦江区成都IFS","country":"中国","province":"四川省","citycode":"028","city":"成都市","district":"锦江区","township":[],"neighborhood":{"name":[],"type":[]},"building":{"name":[],"type":[]},"adcode":"510104","street":[],"number":[],"location":"104.081504,30.654802","level":"兴趣点"}]}'
  recorded_at: 2026-01-19 01:29:33
recorded_with: VCR-vcr/2.1.0
