http_interactions:
- request:
    method: GET
    uri: https://restapi.amap.com/v3/geocode/regeo?location=104.05%2C30.67&extensions=all&homeorcorp=0&key=FAKE_KEY&output=JSON
  response:
    status: 200
    headers:
      Content-Type: application/json;charset=utf-8
      gsid: 033051123177176878756542400038470508714
      sc: '0.005'
    body:
      string: |
        {"status":"1","regeocode":{"roads":[{"id":"028H48F016017481","location":"104.05,30.6696","direction":"东北","name":"二道桥街","distance":"49.7413"},{"id":"028H48F016017727648","location":"104.051,30.6702","direction":"西","name":"金沙桥街","distance":"86.0775"},{"id":"028H48F016017625665","location":"104.051,30.6711","direction":"西南","name":"槐树街","distance":"149.986"}],"roadinters":[{"second_name":"金沙桥街","first_id":"028H48F016017625665","second_id":"028H48F016017727648","location":"104.050774,30.671207","distance":"153.297","first_name":"槐树街","direction":"西南"}],"formatted_address":"四川省成都市金牛区西安路街道四川省纪委商住楼","addressComponent":{"city":"成都市","province":"四川省","adcode":"510106","district":"金牛区","towncode":"510106013000","streetNumber":{"number":"48-附13-16号","location":"104.049770,30.669954","direction":"西","distance":"22.5881","street":"二道桥街"},"country":"中国","township":"西安路街道","businessAreas":[{"location":"104.056430,30.668025","name":"长顺街","id":"510105"},{"location":"104.045944,30.675078","name":"永陵路","id":"510106"},{"location":"104.060695,30.674065","name":"新华西路","id":"510105"}],"building":{"name":[],"type":[]},"neighborhood":{"name":"四川省纪委商住楼","type":"商务住宅;住宅区;住宅小区"},"citycode":"028"},"aois":[{"area":"7422.046036","type":"120302","id":"B001C7XVCW","location":"104.050222,30.669633","adcode":"510106","name":"四川省纪委商住楼","distance":"0"},{"area":"4861.621244","type":"120302","id":"B0FFGFH793","location":"104.050338,30.670398","adcode":"510106","name":"金沙桥街5号院","distance":"25.2101"},{"area":"2539.564934","type":"120302","id":"B0FFGER1AC","location":"104.049357,30.670226","adcode":"510106","name":"二道桥街72号院","distance":"34.5889"},{"area":"631.911741","type":"120300","id":"B0FFGER1AA","location":"104.050202,30.669429","adcode":"510106","name":"二道桥街38号院","distance":"44.0378"}],"pois":[{"id":"B001C7XVCW","direction":"东南","businessarea":"长顺街","address":"西安路二道桥街48号","poiweight":"0.106017","name":"四川省纪委商住楼","location":"104.050222,30.669633","distance":"45.9958","tel":[],"type":"商务住宅;住宅区;住宅小区"},{"id":"B0FFGFH793","direction":"东北","businessarea":"长顺街","address":"金沙桥街5号","poiweight":"0.249012","name":"金沙桥街5号院","location":"104.050338,30.670398","distance":"54.8154","tel":[],"type":"商务住宅;住宅区;住宅小区"},{"id":"B0FFGER1AC","direction":"西","businessarea":"长顺街","address":"二道桥街72号","poiweight":"0.229904","name":"二道桥街72号院","location":"104.049357,30.670226","distance":"66.4461","tel":[],"type":"商务住宅;住宅区;住宅小区"},{"id":"B001C01EF1","direction":"东","businessarea":"长顺街","address[...]
