http_interactions:
- request:
    method: get
    uri: https://restapi.amap.com/v3/config/district?extensions=all&keywords=Sichuan&subdistrict=0&key=FAKE_KEY
    body:
      encoding: ''
      string: ''
    headers: {}
  response:
    status:
      status_code: 200
      message: OK
    headers:
      Content-Type: application/json
    body:
      encoding: UTF-8
      string: '{"status":"1","info":"OK","infocode":"10000","count":"1","districts":[{"name":"Sichuan Province","adcode":"510000","citycode":"","level":"province","center":"104.065735,30.659462","polyline":"104.065735,30.659462;104.066000,30.660000","districts":[]}]}'
  recorded_at: '2024-01-01 00:00:00 GMT'
  recorded_with: vcr/1.2.0, webmockr/0.8.0
