http_interactions:
- request:
    method: get
    uri: https://restapi.amap.com/v3/geocode/geo?address=Multi%20Address&key=FAKE_KEY
    body:
      encoding: ''
      string: ''
    headers: {}
  response:
    status:
      status_code: 200
      message: OK
    headers:
      Content-Type: application/json
    body:
      encoding: UTF-8
      string: '{"status":"1","info":"OK","infocode":"10000","count":"2","geocodes":[{"formatted_address":"Multi Address A","country":"China","province":"Sichuan","city":"Chengdu","district":"Jinjiang","township":"","neighborhood":{"name":"","type":""},"building":{"name":"","type":""},"citycode":"028","adcode":"510104","street":"Hongxing Road","number":"3","location":"104.000000,30.600000","level":"street"},{"formatted_address":"Multi Address B","country":"China","province":"Sichuan","city":"Chengdu","district":"Qingyang","township":"","neighborhood":{"name":"","type":""},"building":{"name":"","type":""},"citycode":"028","adcode":"510105","street":"Renmin Road","number":"88","location":"104.100000,30.650000","level":"street"}]}'
  recorded_at: '2024-01-01 00:00:00 GMT'
  recorded_with: vcr/1.2.0, webmockr/0.8.0
